@inherits UmbracoViewPage<AccommodationPanel>

<div class="detail-content grid-x">
    <div class="detail-content__main cell small-12 medium-6 transform--will-fade-right transition--1000" data-animate-in-view="transform--completed-fade-right">
        @Model.AccommodationText
    </div>

    <div class="detail-content__sidebar cell small-12 medium-6 transform--will-fade-left transition--1000" data-animate-in-view="transform--completed-fade-left">
        @foreach (var item in Model.FeatureList)
        {
            @Html.Wrap("h2", item.Heading)
            if (item.Links.Any())
            {
                <ul>
                    @foreach (var link in item.Links)
                    {
                        if(link.Url.Trim() == "#")
                        {
                            <li>@link.Name</li>
                        }
                        else
                        {
                            <li>@link.GetLink()</li>
                        }
                    }
                </ul>
            }
        }
    </div>

    <div class="detail-content__cta cell small-12 text-center">
        @Model.BookingLink.GetLink(cssClass: "cta orange-solid")
    </div>
</div>